<div class="auth-wrapper">
  <div class="auth-content text-center">
    <img src="/assets/images/logo.png" alt="" class="img-fluid mb-4">
    <div class="card borderless">
      <div class="row align-items-center ">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="mb-3 f-w-400">Reset your password</h4>
            <hr>
            <form [formGroup]="form" autocomplete="off" novalidate>
              <div class="form-group mb-3">
                <input type="text" class="form-control" formControlName="email" placeholder="Email address" required
                  [ngClass]="{ 'is-invalid' : email.touched && email.invalid, 'is-valid': email.touched && ! email.invalid }">
                <div class="invalid-feedback" *ngIf="(email.dirty || email.touched) && email.invalid">
                  <div *ngIf="email.errors?.required || email.errors?.email">
                    A valid email is required
                  </div>
                </div>
              </div>
              <button #resetButton class="btn btn-primary btn-block mb-4" (click)="submitForm()"
                [disabled]="!form.valid">Reset</button>
              <ng-container *ngIf="error$ | async">
                <p class="text-danger font-weight-bold error-message" *ngFor="let item of error$ | async">
                  {{item}}
                </p>
              </ng-container>
              <ng-container *ngIf="passwordSent$ |async">
                <ngb-alert type="success">An email has been sent to your email address with a
                  reset code.</ngb-alert>

                <a routerLink="/signin" class="f-w-400">Back to Sign In</a>
              </ng-container>
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
