<div class="auth-wrapper">
  <div class="auth-content text-center">
    <img src="/assets/images/logo.png" alt="" class="img-fluid mb-4">
    <div class="card borderless">
      <div class="row align-items-center ">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="mb-3 f-w-400">Reset your password</h4>
            <hr>

            <p class="lead">Welcome back: {{email}}</p>

            <form [formGroup]="form" autocomplete="off" novalidate>
              <!-- Password -->
              <div class="form-group mb-4">
                <input type="password" class="form-control" formControlName="password" placeholder="Password" required
                  [ngClass]="{ 'is-invalid' : password.touched && password.invalid, 'is-valid': password.touched && ! password.invalid }">
                <div class="invalid-feedback" *ngIf="(password.dirty || password.touched) && password.invalid">
                  <div *ngIf="password.errors?.required"
                    [ngClass]="{'text-danger': password.errors?.required, 'text-success': ! password.errors?.required}">
                    <i class="feather"
                      [ngClass]="{'icon-alert-triangle': password.errors?.required, 'icon-check-circle': !password.errors?.required}"></i>
                    A password is required
                  </div>
                  <ng-container *ngIf="!password.errors?.required">
                    <div
                      [ngClass]="{'text-danger': password.errors?.minlength, 'text-success': ! password.errors?.minlength}">
                      <i class="feather" [ngClass]="{'icon-alert-triangle': password.errors?.minlength, 
                                      'icon-check-circle': !password.errors?.minlength}"></i>
                      Password must be at least 12 characters long.
                    </div>
                    <div [ngClass]="{'text-danger': password.errors?.maxlength, 
                                    'text-success': ! password.errors?.maxlength}">
                      <i class="feather" [ngClass]="{'icon-alert-triangle': password.errors?.maxlength, 
                                      'icon-check-circle': !password.errors?.maxlength}"></i>
                      Password must be at no more than 99 characters long.
                    </div>
                    <div [ngClass]="{'text-danger': password.errors?.hasNumber, 
                                    'text-success': ! password.errors?.hasNumber}">
                      <i class="feather" [ngClass]="{'icon-alert-triangle': password.errors?.hasNumber, 
                                      'icon-check-circle': !password.errors?.hasNumber}"></i>
                      Password must contain a digit
                    </div>
                    <div [ngClass]="{'text-danger': password.errors?.hasUpperCase, 
                                    'text-success': ! password.errors?.hasUpperCase}">
                      <i class="feather" [ngClass]="{'icon-alert-triangle': password.errors?.hasUpperCase, 
                                      'icon-check-circle': !password.errors?.hasUpperCase}"></i>
                      Password must contain an upper case character
                    </div>
                    <div
                      [ngClass]="{'text-danger': password.errors?.hasLowerCase, 'text-success': ! password.errors?.hasLowerCase}">
                      <i class="feather" [ngClass]="{'icon-alert-triangle': password.errors?.hasLowerCase, 
                                      'icon-check-circle': !password.errors?.hasLowerCase}"></i>
                      Password must contain an lower case character
                    </div>
                    <div [ngClass]="{'text-danger': password.errors?.hasSpecialCharacters, 
                                    'text-success': ! password.errors?.hasSpecialCharacters}">
                      <i class="feather" [ngClass]="{'icon-alert-triangle': password.errors?.hasSpecialCharacters, 
                                      'icon-check-circle': !password.errors?.hasSpecialCharacters}"></i>
                      Password must contain a special character
                    </div>
                  </ng-container>
                </div>
              </div>
              <!-- Confirm Password -->
              <div class="form-group mb-4">
                <input type="password" class="form-control" formControlName="confirmPassword"
                  placeholder="Confirm Password" required
                  [ngClass]="{ 'is-invalid' : confirmPassword.touched && confirmPassword.invalid,
                                                          'is-valid': confirmPassword.touched && ! confirmPassword.invalid }">
                <div class="invalid-feedback"
                  *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.invalid">
                  <div *ngIf="confirmPassword.errors?.required">
                    Password is Required
                  </div>
                  <div *ngIf="confirmPassword.errors?.PasswordMatch">
                    Passwords do not match
                  </div>
                </div>
              </div>

              <button #button class="btn btn-primary btn-block mb-4" (click)="submitForm()"
                [disabled]="!form.valid || (passwordResetSuccessful$|async)">Reset</button>
              <p class="text-danger font-weight-bold error-message" *ngFor="let item of errors$ | async">
                {{item}}
              </p>
              <ng-container *ngIf="passwordResetSuccessful$ |async">
                <p class="text-success">
                  Password changed successfully.
                  <a routerLink="/signin" class="f-w-400">Sign In</a>
                </p>
              </ng-container>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
